{% extends "app/layout.html" %}

{% block content %}

<div class="container">
    <div class="row row-cols-1">
        {% for a in product_grades_list %}
            <div class="col py-2">
                <h2>{{a.grade_name}}</h2>
                <h6>калорийность на 100 грамм: {{a.calories}} ккал</h6>
                <p>
                    {{a.description}}
                </p>
            </div> 
        {% endfor %}
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            <form method="POST" class="post-form">{% csrf_token %}
            {% for f in form %}
                <div class="form-group">
                    
                    {{ f.label }}
                    {{ f }}
                    {% if f.errors %}
                         <div class="alert alert-danger my-3">
                             {{ f.errors }}
                         </div>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-secondary">ОК</button>
            </form>
        </div>
    
    </div>
</div>

{% endblock %}