{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron container" >
    <h1>Карантин</h1>
    {% if user.is_authenticated %}
    <p class="lead">Здраствуйте, {{ user.username }}</p>
    {% endif %}
    <p class="lead">Здесь вы сможете подсчитать, сколько дней вы продержитесь на имеющиеся продукты.</p>
    <p class="lead">Выберите продукты, которые у вас есть.</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3 pr-3 border-right">
            <h2 class="pt-5">Список ваших продуктов</h2>
            {% for a in product_instance_list %}
                    <div class="p-2 my-2 bg-light row row-cols-1 row-cols-lg-3 align-items-center">
                        <div class="col">
                            <h6>{{a.grade.product.product_name}}</h6>
                            <p>
                                сорт: 
                            <i>{{a.grade.grade_name}}</i>
                            <br>
                                вес 
<i>{{a.weight}} г.</i>
                            </p>
                        </div>
                        <div class="col my-1">
                            <a class="btn btn-outline-secondary btn-sm" href="{% url 'edit_product' a.id %}">Изменить</a>
                        </div>
                        <div class="col my-1">
                            <a class="btn btn-outline-secondary btn-sm" href="{% url 'delete_product' a.id %}">Удалить</a>
                        </div>
                    </div> 
            {% endfor %}
        {% if product_instance_list%}
            <div class="text-center">
                <a class="btn btn-primary btn-lg my-3 text-center" href="{% url 'result' %}">Рассчитать</a>
            </div>
        {% else %}
            <div class="text-center">
                <p>
                    Вы ещё не добавили продукты.
                </p>
            </div>

        {% endif %}
        </div>
        <div class="col-9">
            <div class="row">
                {% for a in product_list %}
                    <div class="col-lg-4 py-5">
                        <h2>{{a.product_name}}</h2>
                        <h6>Тип: {{a.product_type}}</h6>
                        {% if a.description %}
                        <p>
                            {{a.description}}
                        </p>
                        {% endif %}
                        <a class="btn btn-secondary btn-sm stretched-link" href="{% url 'product_grades' a.id %}">Добавить</a>
                    </div> 
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}


    
